@import url(./fonts/fonts.css);
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

.tabs {
  display: flex;
  padding-left: 4%;
  background-color: #FFAA4C;
  height: 3.5rem;
}
.tabs__button {
  font-family: "Outfit-Medium";
  background-color: #FFAA4C;
  padding: 0 2%;
  font-size: 1.6rem;
  border: none;
}
.tabs__button--active {
  border-radius: 20px 20px 0 0;
  background-color: #181818;
  color: #FFFFFF;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo__text {
  margin-left: 1rem;
  font-family: "Outfit-SemiBold";
  font-size: 3.8rem;
  color: #FFFFFF;
}

.header {
  position: sticky;
  top: 0;
  padding: 1rem 4.8rem;
  display: flex;
  justify-content: space-between;
  background-color: #181818;
}

.button {
  font-family: "Outfit-SemiBold";
  transition: 0.5s;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 1.8rem 4rem;
  font-size: 2rem;
  background-color: #954CED;
}
.button__text {
  position: relative;
  z-index: 2;
}
.button--background_dark {
  border: solid 2px #954CED;
}
.button--background_light {
  border-radius: 15px;
}
.button--background_light:after {
  border-radius: 0;
  transform: scale(1.1);
}
.button:hover {
  transform: scale(1.1);
}
.button:after {
  z-index: 1;
  border-radius: 50%;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  background: #181818;
  transition: all 0.5s;
}
.button:hover:after {
  height: 100%;
  border-radius: 20px;
  width: 100%;
}

.hero {
  background-color: #181818;
  color: #FFFFFF;
  display: flex;
  padding-top: 5rem;
  padding-bottom: 10rem;
  justify-content: space-between;
}
.hero__button {
  margin-top: 5rem;
}
.hero__text {
  width: 55%;
  padding-left: 10rem;
}
.hero__title {
  letter-spacing: 1px;
  font-family: "Outfit-Bold";
  font-size: 9.6rem;
  margin-bottom: 1.6rem;
}
.hero__sub-title {
  width: 57%;
  font-family: "Outfit-Regular";
  font-size: 2rem;
}

.image-box {
  width: 45%;
}
.image-box__image {
  width: 100%;
}

.about-page {
  color: #FFFFFF;
  background-color: #181818;
}
.about-page__title {
  padding-left: 10rem;
  letter-spacing: 1px;
  font-family: "Outfit-Bold";
  font-size: 9.6rem;
  margin-bottom: 1.6rem;
}
.about-page__subtitle {
  width: 22%;
  font-family: "Outfit-SemiBold";
  font-size: 3.6rem;
}

.subtitle {
  z-index: 2000;
}
.subtitle__line {
  position: absolute;
  z-index: 1;
}

.footer {
  background-color: #181818;
  padding: 1.6rem 6.4rem;
}
.footer__tab {
  margin-left: 3.2rem;
  text-decoration: none;
  font-family: "Outfit-Medium";
  color: #FFFFFF;
  font-weight: 500;
  font-size: 2rem;
}
.footer__up {
  padding-bottom: 3.2rem;
  padding-left: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px #444444 solid;
}
.footer__down {
  margin: 3.2rem;
  display: flex;
  justify-content: space-between;
  color: #B9B9B9;
  font-size: 1.6rem;
  font-weight: 300;
}
.footer__copy {
  font-family: "Outfit-Regular";
}
.footer__terms {
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
  text-decoration: underline;
}
.footer__terms > a {
  font-family: "Outfit-Regular";
  color: #B9B9B9;
}

/*# sourceMappingURL=styles.css.map */
