@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.tabs {
    display: flex;
    padding-left: 4%;
    background-color: #FFAA4C;
    height: 5dvh;
}

.tabs__btn {
    background-color: #FFAA4C;
    padding: 0 2%;
    font-size: 16px;
    font-weight: 500;
    border: none;
    font-weight: medium;
    font-family: "Outfit";
}
.tabs__btn--active {
    border-radius: 20px 20px 0 0;
    background-color: #181818;
    color: #FFFFFF;
}

.hero {
    background-color: #181818;
}