@import url(./fonts/fonts.css);

* {
    margin: 0;
    padding: 0;

}
html {
    font-size: 62.5%;
}
body {
    overflow-x: hidden;
}
.tabs {
    display: flex;
    padding-left: 4%;
    background-color: #FFAA4C;
    height: 3.5rem;

    &__button {
        font-family: "Outfit-Medium";
        background-color: #FFAA4C;
        padding: 0 2%;
        font-size: 1.6rem;
        border: none;
        &--active {
            border-radius: 20px 20px 0 0;
            background-color: #181818;
            color: #FFFFFF;
        }
    }

}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    &__text {
        margin-left:1rem;
        font-family: "Outfit-SemiBold";
        font-size: 3.8rem;
        color: #FFFFFF;
    }
}

.header {
    position: sticky;
    top: 0;
    padding: 1rem 4.8rem;
    display: flex;
    justify-content: space-between;
    background-color: #181818;

}
.button {
    font-family: "Outfit-SemiBold";
    transition: 0.5s;
    font-weight: 600;
    color:#FFFFFF;
    border-radius: 20px;
    padding: 1.8rem 4rem;
    font-size: 2rem;
    background-color: #954CED;

    // @media (hover: none), (pointer: coarse) {
    //     &:active {
    //         transform: scale(1.1);
    //         transform: scale(1);
    //     }
    //     &:not(:active) {
    //         transform: scale(0.9);
    //     }
    //     &:active:after {
    //         height: 100%;
    //         border-radius: 20px;
    //         width: 100%;
    //     }
    // }
    &__text {
        position: relative;
        z-index: 2;
    }
    &--background_dark {
        border: solid 2px #954CED;
    }
    &--background_light {
        border-radius: 15px;
    }
    &--background_light:after {
        border-radius: 0;
        transform: scale(1.1);
    }
    &:hover {
        transform: scale(1.1);
    }
    &:after  {
        z-index: 1;
        border-radius: 50%;
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        background: #181818;
        transition: all 0.5s;
        
    }  
    &:hover:after {
        height: 100%;
        border-radius: 20px;
        width: 100%;
    }
}

.hero {
    background-color: #181818;
    color: #FFFFFF;
    display: flex;
    padding-top: 5rem;
    padding-bottom: 10rem;
    justify-content: space-between;
    &__button {
        margin-top: 5rem;
    }
    &__text {
        width:55%;
        padding-left: 10rem;
        
    }
    &__title {
        letter-spacing: 1px;
        font-family: "Outfit-Bold";
        font-size: 9.6rem;
        margin-bottom: 1.6rem;
    }
    &__sub-title {
        width: 57%;
        font-family: "Outfit-Regular";
        font-size: 2rem;
    }
}
.image-box {
    width: 45%;
    
    &__image {
        width: 100%;
    }
}
.about-page {
    color: #FFFFFF;
    background-color: #181818;
    
    &__title {
        padding-left: 10rem;
        letter-spacing: 1px;
        font-family: "Outfit-Bold";
        font-size: 9.6rem;
        margin-bottom: 1.6rem;
    }
    &__subtitle {
        width: 22%;
        font-family: "Outfit-SemiBold";
        font-size: 3.6rem;
    }
}
.subtitle {
    z-index: 2000;
    &__line {
        position: absolute;
        z-index: 1;
    }
}
.footer {
    background-color: #181818;
    padding: 1.6rem 6.4rem;
    &__tab {
        margin-left: 3.2rem;
        text-decoration: none;
        font-family: "Outfit-Medium";
        color:#FFFFFF;
        font-weight: 500;
        font-size: 2rem;

    }

    &__up {
    
        padding-bottom: 3.2rem;
        padding-left: 1.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px #444444 solid;
    }
    &__down {
        margin: 3.2rem;
        display: flex;
        justify-content: space-between;
        color:#B9B9B9;
        font-size: 1.6rem;
        font-weight: 300;
    }
    &__copy {
        font-family: "Outfit-Regular";
    }
    &__terms {
        display: flex;
        justify-content: space-between;
        gap: 3.2rem;
        text-decoration: underline;
        > a {
            font-family: "Outfit-Regular";
            color: #B9B9B9;
        }
    }
}

