@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

.tabs {
    display: flex;
    padding-left: 4%;
    background-color: #FFAA4C;
    height: 3dvh;

    &__button {
        background-color: #FFAA4C;
        padding: 0 2%;
        font-size: 1rem;
        font-weight: 500;
        border: none;

        font-family: "Outfit";
        
        &--active {
            border-radius: 20px 20px 0 0;
            background-color: #181818;
            color: #FFFFFF;
        }
    }

}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    &__picture {
    }

    &__orange-line {
        transform: translate(38px, -14px);
    }

    &__purple-line {
        transform: translate(-24px, -1px);
    }

    &__text {
        transform: translateX(-18px);
        font-family: "Outfit";
        font-weight: 600;
        font-size: 2rem;
        color: #FFFFFF;
    }
}

.header {
    position: sticky;
    top: 0;
     
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    background-color: #181818;

    &__button {
        
    }
}
.button {
    font-family: "Outfit";
    transition: 0.5s;
    font-weight: 600;
    color:#FFFFFF;
    border-radius: 15px;
    padding: 1.2rem 3rem;
    font-size: 1.25rem;
    background-color: #954CED;

    &__text {
        position: relative;
        z-index: 2;
    }
    &--background_dark {
        border: solid 2px #954CED;
    }
    &--background_light {
        border-radius: 15px;
    }
    &--background_light:after {
        border-radius: 0;
        transform: scale(1.1);
    }
    &:hover {
        transform: scale(1.2);
    }
    &:after  {
        z-index: 1;
        border-radius: 50%;
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        background: #181818;
        transition: all 0.5s;
        
    }  
    &:hover:after {
        height: 100%;
        border-radius: 15px;
        width: 100%;
    }
}
.hero {
    background-color: #181818;
    height: 100dvh;
    &__inner {
        padding: 5dvh 0 0 7dvw;
        display: flex;
        justify-content: space-between;
    }   

    &__title {
        font-weight: 700;
        font-optical-sizing: 106%;
        font-family: "Outfit";
        font-size: 9rem;
        color: #FFFFFF;
        padding-bottom: 5dvh;
    }

    &__subtitle {
        font-family: "Outfit";
        font-size: 2rem;
        color: #FFFFFF;
        padding-bottom: 5dvh;
    }

    &__image {
        margin-left: 10dvw;
        height: 70dvh;
        width: 70dvh;
    }
}

.popup {
    height: Hug (587px);
    width: Hug (417px);
}