@font-face {
    font-family: "Outfit";
    src: url(.\Outfit-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Outfit Bold";
    src: url(.\Outfit-Bold.ttf) format('truetype');

}